@font-face {
    font-family: "Clip";
    src: url("Clip.ttf");
}

html {
    min-height: 100%;
    background-color:#000000;
    background-image: url("img/pexels-aleksandar-pasaric-1906228.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#app .widget {
    text-transform: uppercase;
    text-align: right;
    font-family: "Clip";
}

#time-widget {
    font-size: 2em;
}

#date-widget {
    font-size: 1em;
}